<!-- 
<ul ng-repeat="item in awesomeThings">
<li >{{item}}</li>
</ul> -->

<div class="header">
  <h3 class="text-muted">Hier senden Sie uns eine E-Mail</h3>
</div>

<div class="row">

  <form role="form" ng-hide="form.emailSent" class="animate-hide" ng-model="form" action="" method="post" name="form" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" >
    <div class="">
      <div class="well well-sm"><strong><i class="glyphicon glyphicon-ok"></i> Pflichtfelder</strong></div>

      <div class="form-group">
        <label for="InputName">Ihr Name</label>
        <div class="input-group">
          <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Vorname Nachname" required=""  autocomplete="off" ng-model="user.name" ng-disabled="form.emailSent">
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span>
        </div>
      </div>

      <div class="form-group">
        <label for="InputEmail">Ihre Email Adresse</label>
        <div class="input-group">
          <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="name@domain.de" required=""  autocomplete="off" ng-model="user.email" ng-disabled="form.emailSent">
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span>
        </div>
      </div>

      <div class="form-group">
        <label for="InputMessage">Ihre Nachricht an uns</label>
        <div class="input-group">
          <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required="" 
        ng-model="user.message"
        ng-disabled="form.emailSent"></textarea>
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback_OFF"></i></span>
        </div>
      </div>



      <!--       <button class="btn btn-default">
      <span class="glyphicon glyphicon-info-sign" ></span> Systemdaten hinzufügen
      </button> -->
      <button type="submit" name="submit" id="submit" value="Absenden" class="btn btn-info pull-right" 
      ng-click="sendMail()">Absenden</button>
    </div>
  </form>

  
</div>
